* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

nav {
  min-height: 10vh;
  background: #fafafa;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  padding-left: 2rem;
  text-decoration: none;
  color: black;
  font-family: "Koh Santepheap", cursive;
  font-size: 2rem;
  font-weight: 300;
}

nav ul {
  width: 10%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 1rem;
}

nav li {
  list-style: none;
  font-size: 1.8rem;
}
nav a {
  text-decoration: none;
  color: black;
}

.linkedin:hover,
.github:hover {
  transform: scale(1.2);
  transition: 0.3s ease;
}

.linkedin:hover {
  color: #0a66c2;
}

.container h1 {
  text-align: center;
  padding: 2rem 0 3rem 0;
  font-size: 3rem;
  color: #131212;
}

.container h2 {
  text-align: center;
  font-size: 2rem;
  font-family: monospace;
}

.book-container {
  margin: 2rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  grid-column-gap: 3rem;
  grid-row-gap: 1.5rem;
}

.book {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book img {
  height: 350px;
  margin: 0 auto;
}

.book h3 {
  margin-top: 1rem;
}

/* Book Detail */
.book-detail {
  padding: 5rem;
  display: flex;
}

.book-detail-img {
  display: flex;
  justify-content: center;
  margin: 0 2rem;
}

.book-detail-desc {
  margin: 0 auto;
}

.book-detail-desc p {
  margin: 1rem 0;
}

.buy-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buy-btn {
  text-decoration: none;
  color: #0f0f0f;
  background: #e0dcdc;
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 1rem;
  border: 1px solid #0f0f0f;
  cursor: pointer;
}

.date {
  padding-left: 1rem;
  padding-top: 2rem;
  display: flex;
  align-items: center;
}

.date p {
  padding-bottom: 0.5rem;
}

.next-prev-btn {
  background: transparent;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

/* Loader */
.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.loader div {
  margin-top: 20%;
}

.error div {
  margin-top: 0;
}

.error img {
  width: 100%;
}

.error-btn {
  padding: 1rem;
  height: fit-content;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin: 0 auto;
  display: block;
  background: #fafafa;
  color: #699ff5;
  border: 3px solid #699ff5;
  border-radius: 5px;
  cursor: pointer;
}

.error-btn {
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .book-title {
    margin: 0 auto;
  }

  .book-detail {
    padding: 1rem;
    flex-wrap: wrap;
  }

  .book-detail-img {
    margin: 0 auto;
  }

  .book-detail-img img {
    max-width: 100%;
  }

  .book-detail-desc {
    margin: 2rem auto;
  }

  .buy-btn-container {
    justify-content: center;
  }
}
